* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("imgs/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Helvetica, sans-serif;
  color: rgb(211, 211, 211);
  display: flex;
  justify-content: center;
  align-items: center;
}

.itin-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.container {
  width: 60%;
  aspect-ratio: 1.41/1;
  perspective: 800px;
}

@media (max-width: 450px) {
	.container {
		width: 90%;
		aspect-ratio: 1.41/1;
		perspective: 600px;
	}
}

@media (max-width: 800px) {
	.container {
		width: 70%;
		aspect-ratio: 1.41/1;
		perspective: 700px;
	}
}


#card-flip {
    display: none;
}

#card-flip:checked + label > .card {
    transform: rotateY(180deg);
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front,
.back {
  height: 100%;
  width: 100%;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background-image: url("/imgs/1.png");
}

.back {
  background-image: url("/imgs/2.png");
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
